blockquote
  h2 I believe we are on the cusp of the broader adoption of JS as a leading language for building and controlling hobbyist hardware systems.
  small: a(href="http://www.voodootikigod.com/nodebots-the-rise-of-js-robotics") Chris Williams