h2: a(href="/posts/dynamic-file-paths-using-require-js") Dynamic file paths using Require.js
p Here&rsquo;s an article that I wrote in Beans &amp; Curry showing how to use different file paths depending on the environment that your application is running on.