.offset1.span3.aside
  p: a(href="/"): img.aside-profile-img.aside-img(src="/img/wall_square_george_squareIMG_0254-Edit.jpg")
  p: strong Web Engineer &amp; Designer
  p: small I live in Vancouver, Canada, where I build websites for startups and small businesses.

  hr 

  p: img.aside-img(src="/img/harp-logo.png")
  p: small Powered by <a href="http://harp.io/">Harp Platform</a>