!!!5
html(lang="en")
  head
    block head_before
    block head_title
      title Harp Blog Boilerplate
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800')
    link(rel="stylesheet", href="/fontawesome/less/font-awesome.css")
    link(rel="stylesheet", href="/css/main.css")
    block head_after
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    block phone_nav
      != partial("_phone-nav")
    article#content
      .container-fluid
        .row-fluid
          .span8.main
            block content
              != yield
          block aside
            != partial("_aside")
    block footer
    script(src="#{ globals.public.data.jquery }")
    script(src="#{ globals.public.data.bootstrap.js }")
    script(src="/js/app.js")